*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/gradle.xml
/.idea/misc.xml
.idea/caches/
.idea/codeStyles/
.idea/dictionaries/
ucrop/src/main/res/values-zh-rCN/
/.idea/inspectionProfiles/Project_Default.xml
