<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luck.lib.camerax">

    <application>
        <activity
            android:name="com.luck.lib.camerax.PictureCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Base.Theme.NoActionBar" />
    </application>
</manifest>